body{
    background-image:url(bl2.webp);
    background-size: 425px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.first{

}
.second{
text-align: center;
display: flex;
justify-content: right;
align-content: center;
margin-top: 5%;
margin-left: 39%;
margin-right: 36%;
/*background-color: sienna;*/
border-radius: 50px 1% ;
}
.heading{
    color: rgb(172,174,164);
  
   
margin-top: 0%;
    margin-left:50%;
    margin-right: 100%;
    font-family:cursive;
border: 3px double rgb(194,200,194);
border-radius: 50px 1% ;

}  
.head,th{
    font-family:cursive;
   margin-left:20%;
   color: burlywood;
 border: 5px rgb(74, 35, 7);
 border-radius: 50px;
 
}  
.bob{
    background: none;
    border-radius: 30px;
}
.clo{
background-color: rgb(172,174,164);
background: none;
}
.clo:hover{
color: thistle;
}
.a{
    color: antiquewhite;
}
input[type=text]{
    color: aliceblue;
}
input[type=password]{
    color: aliceblue;
}

